{% extends 'base.html.twig' %}

{% block trades_widget %}
	<!-- Trades Widget -->
	<div class="sticky-top tradingview-widget-container">
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
			{"symbols":
				[   {"title": "EUR/USD", "proName": "OANDA:EURUSD"},
					{"description": "GBP/USD", "proName": "OANDA:GBPUSD"},
					{"description": "USD/CAD", "proName": "OANDA:USDCAD"},
					{"description": "USD/JPY", "proName": "FX:USDJPY"},
					{"description": "AUD/USD", "proName": "FX_IDC:AUDUSD"},
					{"description": "NZD/USD", "proName": "OANDA:NZDUSD"},
					{"description": "EUR/AUD", "proName": "OANDA:EURAUD"},
					{"description": "EUR/JPY", "proName": "FX:EURJPY"} ],
					"colorTheme": "dark", "isTransparent": false, "locale": "en" }
		</script>
	</div>
	<!-- END of Trades Widget -->
{% endblock %}

{% block body %}
<!-- Header -->
<header>
	<div class="header-wrapper">
		<div class="header-txt fade-in-left text-center text-lg-left">
			<h1>Free Forex Signals</h1>
			<p>Forex Simple Signals is a free forex signals service.
				<br> Here you will find signals which are based on fundamental, sentiment and technical analisys.
				<br> You won't find anything about learning because the internet is full of it.
			</p>
			<button class="btn btn-primary">Read more</button>
		</div>
	</div>
</header>
<!-- END of Header -->

<!-- Main section container -->
<main class="main-content">

	<!-- Home Main Content -->
	<div class="row">

		<!-- Trades section -->
		<div class="trades col-12 col-xl-8">
			<table class="table">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Trades</th>
					<th scope="col">Action</th>
					<th scope="col">Price</th>
					<th scope="col">Profit/Loss</th>
					<th scope="col" class="trades-date">Created at</th>
					<th scope="col">Status</th>
				</tr>
				</thead>
				<tbody>
				{% for signal in signals%}
					{{ include('elements/trades_row.html.twig', {
						'image': signal.tradePairImage,
						'trade_pair': signal.tradePair,
						'trade_action': signal.tradeAction,
						'price': signal.price,
						'created': signal.created,
						'take_profit': signal.takeProfit,
						'stop_loss': signal.stopLoss,
						'status': signal.status,
						'closed': signal.closed,
						'closed_price': signal.closedPrice,
						'profit': signal.profit
					}) }}
				{% endfor %}
				</tbody>
			</table>
		</div>
	<!-- END of Trades section -->
		<!-- Insights section -->
		<div class="col-12 col-xl-4">
			<div class="insights">
				<h2 class="text-center">Insights</h2>
				{% for insight in insights  %}
					{{ include('elements/insights_box.html.twig', {
						'image': insight.image,
						'content': insight.content
					}) }}
					<hr/>
				{% endfor %}
			</div>
		</div>
		<!-- END of insights section -->
	</div> <!-- END of Home section container-->
</main><!-- END of Main section container-->
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}