<!-- Header -->
<header>
	<div class="section-container">
		<div class="header-txt text-center text-lg-left">
			<h1>Free Forex Signals</h1>
			<p>Forex Simple Signals is a free forex signals service.
				<br> Here you will find signals which are based on fundamental, sentiment and technical analisys.
				<br> You will not find anything about learning because internet is full of it.
			</p>
			<button class="btn btn-primary">Read more</button>
		</div>
	</div>
</header>
<!-- END of Header -->

<!-- Main section container -->
<div class="section-container">

	<!-- Trades Widget -->
	<div class="row">
		<div class="col-12 tradingview-widget-container">
			<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
				{"symbols":
					[   {"title": "EUR/USD", "proName": "OANDA:EURUSD"},
						{"description": "GBP/USD", "proName": "OANDA:GBPUSD"},
						{"description": "USD/CAD", "proName": "OANDA:USDCAD"},
						{"description": "USD/JPY", "proName": "FX:USDJPY"},
						{"description": "AUD/USD", "proName": "FX_IDC:AUDUSD"},
						{"description": "NZD/USD", "proName": "OANDA:NZDUSD"},
						{"description": "EUR/AUD", "proName": "OANDA:EURAUD"},
						{"description": "EUR/JPY", "proName": "FX:EURJPY"} ],
						"colorTheme": "dark", "isTransparent": false, "locale": "en" }
			</script>
		</div>
	</div>
	<!-- END of Trades Widget -->

	<!-- Home Main Content -->
	<div class="row">

		<!-- Insights section -->
		<div class="col-12 col-lg-4 order-1 order-md-0">
			<div class="insights text-center">
				<h2>Insights</h2>
				<div class="insights-txt d-flex justify-content-center align-items-center">
					<img src="{{ asset('build/images/morgan-stanley.jpg') }}">
					<blockquote>Morgan Stanley announced that they entered long on GBP/JPY at 104.65unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10.</blockquote>
				</div>
				<div class="insights-txt d-flex justify-content-center align-items-center">
					<img src="{{ asset('build/images/morgan-stanley.jpg') }}">
					<blockquote>Morgan Stanley announced that they entered long on GBP/JPY at 104.65unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10.</blockquote>
				</div>
				<div class="insights-txt d-flex justify-content-center align-items-center">
					<img src="{{ asset('build/images/morgan-stanley.jpg') }}">
					<blockquote>Morgan Stanley announced that they entered long on GBP/JPY at 104.65unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10.</blockquote>
				</div>
				<div class="insights-txt d-flex justify-content-center align-items-center">
					<img src="{{ asset('build/images/morgan-stanley.jpg') }}">
					<blockquote>Morgan Stanley announced that they entered long on GBP/JPY at 104.65unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10unced that they entered long on GBP/JPY at 10.</blockquote>
				</div>
			</div>
		</div>
		<!-- END of insights section -->

		<!-- Trades section -->
		<div class="col-12 col-lg-8 order-0 order-md-1">
			<!-- Asa vor arata toate "box"-urile cu tranzactii -->
			<div class="trades-box d-flex justify-content-around align-items-center">
				<div class="trades-pair">
					<p><img class="trades-img" src="{{ asset('build/images/eurusd.png') }}"/>GBP/USD</p>
				</div>
				<p class="r-col trades-actions">SELL</p>
				<div class="t-price text-center"> <p>1.28485</p> </div>
				<div class="profit_loss text-center">
					<p> T/P: 1.2805</p>
					<p> S/L: 1.2905</p>
				</div>
				<div class="trades-date text-center">
					<p>Date</p>
					<p>2019.10.23 11:52</p>
				</div>
				<div class="trades-status text-center">
					<p>OnGoing</p>
				</div>
			</div>

			<div class="trades-box d-flex justify-content-around align-items-center">
				<div class="trades-pair">
					<p><img class="trades-img" src="{{ asset('build/images/eurusd.png') }}"/>GBP/USD</p>
				</div>
				<p class="r-col trades-actions">SELL</p>
				<div class="t-price text-center"> <p>1.28485</p> </div>
				<div class="profit_loss text-center">
					<p> T/P: 1.2805</p>
					<p> S/L: 1.2905</p>
				</div>
				<div class="trades-date text-center">
					<p>Date</p>
					<p>2019.10.23 11:52</p>
				</div>
				<div class="trades-status text-center">
					<p>OnGoing</p>
				</div>
			</div>

			<div class="trades-box d-flex justify-content-around align-items-center">
				<div class="trades-pair">
					<p><img class="trades-img" src="{{ asset('build/images/eurusd.png') }}"/>GBP/USD</p>
				</div>
				<p class="r-col trades-actions">SELL</p>
				<div class="t-price text-center"> <p>1.28485</p> </div>
				<div class="profit_loss text-center">
					<p> T/P: 1.2805</p>
					<p> S/L: 1.2905</p>
				</div>
				<div class="trades-date text-center">
					<p>Date</p>
					<p>2019.10.23 11:52</p>
				</div>
				<div class="trades-status text-center">
					<p>OnGoing</p>
				</div>
			</div>

			<div class="trades-box d-flex justify-content-around align-items-center">
				<div class="trades-pair">
					<p><img class="trades-img" src="{{ asset('build/images/eurusd.png') }}"/>EUR/USD</p>
				</div>
				<p class="r-col trades-actions">SELL</p>
				<div class="t-price text-center"> <p>1.1147</p> </div>
				<div class="profit_loss text-center">
					<p> T/P: 1.11168</p>
					<p> S/L: 1.11617</p>
				</div>
				<div class="trades-date text-center">
					<p>Date</p>
					<p>2019.10.22 10:03</p>
				</div>
				<div class="trades-status text-center">
					<p>Closed</p>
					<p> @1.11168</p>
					<p class="g-col"> Profit: 30.2 pips</p>
				</div>
			</div>

			<div class="trades-box d-flex justify-content-around align-items-center">
				<div class="trades-pair">
					<p><img class="trades-img" src="{{ asset('build/images/eurusd.png') }}"/>EUR/USD</p>
				</div>
				<p class="r-col trades-actions">SELL</p>
				<div class="t-price text-center"> <p>1.1147</p> </div>
				<div class="profit_loss text-center">
					<p> T/P: 1.11168</p>
					<p> S/L: 1.11617</p>
				</div>
				<div class="trades-date text-center">
					<p>Date</p>
					<p>2019.10.22 10:03</p>
				</div>
				<div class="trades-status text-center">
					<p>Closed</p>
					<p> @1.11168</p>
					<p class="g-col"> Profit: 30.2 pips</p>
				</div>
			</div>
		</div> <!-- END of Trades section -->
	</div> <!-- END of Home section container-->
</div><!-- END of Main section container-->