<tr>
    <th scope="row">{{ loop.index }}</th>
    <td class="trades-pair">
        <img class="trades-img mb-2 mr-lg-3" src="{{ asset('build/images/trades_pair/' ~ image ~ '.svg' ) }}" alt="trade pair"/>
        {{ trade_pair | upper }}
    </td>
    <td>
        <span class="{{ trade_action }} trades-actions">{{ trade_action | upper }}</span>
    </td>
    <td>{{ price }}</td>
    <td>
        T/P: {{ take_profit }} <br/>
        S/L: {{ stop_loss }}
    </td>
    <td class="trades-date">
        {{ created|date('h:i') }} <br/>
        {{ created|date('d M Y') }}
    </td>
    <td>
        <span class="font-weight-bold {{ status is same as('ongoing') ? 'g-col' : 'r-col' }}">
            {{ status | upper }}
        </span> <br/>
        {% if closed is not null %}
            <span class="closed-date">{{ closed|date('d.m.Y / h:i') }}</span>
        {% endif %}
        {% if closed_price is not null and profit is not null %}
        <span class="font-weight-bold"> @{{ closed_price }}</span> <br/>
        <span class="font-weight-bold {{ profit < 0 ? 'r-col' : 'g-col' }}"> Profit: {{ profit }} pips</span>
        {% endif %}
    </td>
</tr>