<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}Forex Simple Signals | Free Forex Signals!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand col-6 col-md-4 col-lg-2 pl-lg-0 mr-0" href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png') }}" alt="logo"/>
        </a>
        <div class="collapse navbar-collapse col-lg-10 pr-0" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        <span class="icon-home"></span>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('signals') }}">
                        <span class="icon-chart"></span>
                        All signals
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">
                        <span class="icon-about"></span>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">
                        <span class="icon-envelope"></span>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END of Navigation -->

    {% block trades_widget %}{% endblock %}

    <!-- Success messages -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer>
        <section class="footer-wrapper container">
            <div class="row justify-content-between pb-3">
                <div class="footer-about d-flex flex-column col-12 col-lg-4">
                    <h5 class="section-title">A piece of advice</h5>
                    <p class="footer-about-txt">
                        <span>
                            Life is really simple, but we insist on making it complicated.<br>
                        </span>
                        - Confucius
                    </p>
                    <div class="mt-auto pb-2">
                        <a href="{{ path('about') }}">More about us</a>
                    </div>
                    <hr class="d-block d-md-none"/>
                </div>
                <div class="footer-contact d-flex flex-column col-12 col-md-6 col-lg-4 col-xl-3">
                    <h5 class="section-title">Get in touch</h5>
                    <a class="footer-contact-mail d-flex align-items-center pb-2" href="mailto:contact@forex.com?Subject=Hello" target="_top" title="Send us an email">
                        <i class="icon-envelope mt-2 mr-0"></i>
                        <span>contact@forex.com</span>
                    </a>
                    <div class="social-icons mt-auto">
                        <a href="#" title="LinkedIn">
                            <i class="icon-linkedin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                        </a>
                        <a href="#" title="Facebook">
                            <i class="icon-facebook"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a href="#" title="Twitter">
                            <i class="icon-twitter"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a href="#" title="Youtube">
                            <i class="icon-youtube"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                    </div>
                    <hr class="d-block d-md-none"/>
                </div>
                <div class="footer-newsletter d-flex flex-column col-12 col-md-6 col-lg-4">
                    <h5 class="section-title">Free updates</h5>
                    <p>
                        Please subscribe to receive updates or important announcements.
                        We promise that we won't spam you.
                    </p>
                    <form class="single-input mt-auto form-inline footer-text-content-box" action="{{ path('subscribe') }}">
                        <input class="form-control col-12" type="email" placeholder="Email address" aria-label="subscribe">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </form>
                    {{ form_start(subscribersForm, {method: 'POST'}) }}
                    {{ form_errors(subscribersForm) }}
                    <div class="row">
                        <div class="col-sm-9">
                            {{ form_row(subscribersForm.email, {attr: {placeholder: 'Enter email address'}}) }}
                        </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                    {{ form_end(subscribersForm) }}
                </div>
            </div>
        </section>
        <div class="copyright row flex-column flex-md-row justify-content-md-between">
            <div>
                <p>Copyright &copy; {{ 'now'|date('Y') }} Forex Simple Signals</p>
            </div>
            <div class="text-md-right">
                <p>Flag icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a><p>
            </div>
        </div>
    </footer>
    <!-- END of Footer -->

    <button class="btn btn-top hide" id="btnTop">
        <i class="icon-chevron-up"></i>
    </button>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
